{% sw_extends '@Storefront/storefront/component/address/address-personal-company.html.twig' %}

{% block component_account_register_company_fields %}
    {% set accountTypeRequired = config('core.loginRegistration.showAccountTypeSelection') %}

    {% if accountTypeRequired or prefix == "address" or prefix == "shippingAddress" or hasSelectedBusiness %}
        <div class="{% if hasSelectedBusiness %}address-contact-type-company{% elseif prefix == "address" %}js-field-toggle-contact-type-company d-block{% else %}js-field-toggle-contact-type-company{% if customToggleTarget %}-{{ prefix }}{% endif %} d-none{% endif %}">
            {% block component_address_form_company_fields %}
                <div class="{{ formRowClass }}">
                    {% block component_address_form_company_name %}
                        {{ parent() }}
                    {% endblock %}

                    {% sw_include '@Storefront/storefront/component/account/paynl_kvk_coc_number_block.html.twig' %}
                </div>
                <div class="{{ formRowClass }}">
                    {% block component_address_form_company_department %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_address_form_company_vatId %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
