{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% block page_checkout_confirm_payment_current_image %}
    {% if not paymentMethodInvalid %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_payment_current_text %}
    {{ parent() }}
    {% if not paymentMethodInvalid %}
        {% if app.session.get('paynlIssuer') and context.paymentMethod.translated.customFields.banks %}
            {% for bank in context.paymentMethod.translated.customFields.banks %}
                {% if bank.id is same as(app.session.get('paynlIssuer')) %}
                    ({{ bank.visibleName }})
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block page_checkout_confirm_payment_inner %}
    {{ parent() }}
    {% block page_checkout_confirm_payment_inner_paynl %}
        {% set paynlStorefrontData = page.extensions[constant('PaynlPayment\\Shopware6\\Subscriber\\CheckoutConfirmSubscriber::PAYNL_DATA_EXTENSION_ID')] %}
        {% set paynlSettings = page.footer.extensions.PAY_custom_data.configs.PaynlPaymentShopware6.settings %}
        {% if paynlStorefrontData and paynlSettings.cseEnabled %}
            <div id="paynl-checkout-options"
                 data-language-id="{{ paynlStorefrontData.languageId }}"
                 data-checkout-order-url="{{ paynlStorefrontData.checkoutOrderUrl }}"
                 data-payment-handle-url="{{ paynlStorefrontData.paymentHandleUrl }}"
                 data-update-payment-url="{{ paynlStorefrontData.updatePaymentUrl }}"
                 data-payment-finish-url="{{ paynlStorefrontData.paymentFinishUrl }}"
                 data-payment-error-url="{{ paynlStorefrontData.paymentErrorUrl }}"
                 data-cse-post-url="{{ paynlStorefrontData.csePostUrl }}"
                 data-cse-status-url="{{ paynlStorefrontData.cseStatusUrl }}"
                 data-cse-authorization-url="{{ paynlStorefrontData.cseAuthorizationUrl }}"
                 data-cse-authentication-url="{{ paynlStorefrontData.cseAuthenticationUrl }}"
                 data-cse-refresh-url="{{ paynlStorefrontData.cseRefreshUrl }}"
                 data-order-id="{{ paynlStorefrontData.orderId }}"
                 data-public-encryption-keys="{{ paynlStorefrontData.publicEncryptionKeys }}"
                 data-debug="{{ paynlStorefrontData.debug }}"
            >
            </div>
            <script>
                var paynlCheckoutOptions = document.querySelector('#paynl-checkout-options').dataset;
            </script>
        {% endif %}
    {% endblock %}
{% endblock %}
