{% sw_extends '@Storefront/storefront/page/checkout/confirm/confirm-payment.html.twig' %}

{% block page_checkout_confirm_payment_form %}

    <form id="confirmPaymentForm"
          name="confirmPaymentForm"
          action="{{ path('frontend.checkout.configure') }}"
          data-form-csrf-handler="true"
          method="post">

        {% block page_checkout_confirm_payment_form_csrf %}
            {{ sw_csrf('frontend.checkout.configure') }}
        {% endblock %}

        {% block page_checkout_confirm_payment_form_redirect %}
            <input type="hidden" name="redirectTo" value="{{ 'frontend.checkout.confirm.page' }}">
        {% endblock %}

        {% block page_checkout_confirm_payment_form_fields %}
            {% sw_include '@Storefront/storefront/component/payment/payment-fields.html.twig' with {
                'defaultPaymentMethodId': context.paymentMethod.id,
            } %}
        {% endblock %}

        {% block page_checkout_confirm_payment_form_submit %}
            <div class="superHacks">
                <button class="btn btn-primary" type="submit">
                    {{ "checkout.confirmChangePaymentShippingSave"|trans|sw_sanitize }}
                </button>
            </div>
        {% endblock %}

        {% block page_checkout_confirm_payment_cancel %}
            <div class="superHacks">
                <button class="btn btn-light"
                        type="button"
                        data-dismiss="modal"
                        aria-label="Close">
                    {{ "checkout.confirmChangePaymentShippingCancel"|trans|sw_sanitize }}
                </button>
            </div>
        {% endblock %}
    </form>

{% endblock %}