<div class="form-row mb-2">
    <legend id="pay-cse-title">
        <span>{{ "cse.title"|trans|striptags }}</span>
    </legend>
</div>
<div class="form-row mb-2">
    <div class="col">
        <label for="card-holder">{{ "cse.cardName.label"|trans|striptags }}</label>
        <input id="card-holder" class="form-control" type="text"
               placeholder="{{ "cse.cardName.placeholder"|trans|striptags }}" name="cardholder" value=""
               required data-pay-encrypt-field/>
    </div>
</div>

<div class="form-row mb-2">
    <div class="col-sm-10">
        <div class="form-element-container has-icon-container">
            <label for="cardnumber">{{ "cse.cardNumber.label"|trans|striptags }}</label>
            <div class="has-icon-wrap">
                <span class="input-container">
                    <input id="cardnumber" class="form-control" type="text"
                           name="cardnumber"
                           placeholder="{{ "cse.cardNumber.label"|trans|striptags }}"
                           value=""
                           required data-pay-encrypt-field/>
                </span>

                <div class="icon-container">
                    <img
                        src="{{ asset('bundles/paynlpaymentshopware6/logos/creditcard/cc-front.svg', 'asset') }}"
                        data-credit-card-type
                        alt="Card type"/>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-2">
        <div class="form-element-container">
            <label for="cvc" data-cvc-label>{{ "cse.cvc.label"|trans|striptags }}</label>
            <span class="input-container">
                <input id="cvc" class="form-control" type="text" name="cardcvc" placeholder="{{ "cse.cvc.placeholder"|trans|striptags }}" required value="" data-pay-encrypt-field/>
            </span>
        </div>
    </div>
</div>

<div class="form-row mb-2">
    <div class="col-sm-6">
        <div class="form-element-container">
            <label for="month">{{ "cse.month.label"|trans|striptags }}</label>
            <select class="custom-select" name="valid_thru_month" id="month" data-pay-encrypt-field>
                <option value="" disabled
                        selected>{{ "cse.month.placeholder"|trans|striptags }}</option>
                <option value="01">01 - {{ "month.jan"|trans|striptags }}</option>
                <option value="02">02 - {{ "month.feb"|trans|striptags }}</option>
                <option value="03">03 - {{ "month.mar"|trans|striptags }}</option>
                <option value="04">04 - {{ "month.apr"|trans|striptags }}</option>
                <option value="05">05 - {{ "month.may"|trans|striptags }}</option>
                <option value="06">06 - {{ "month.jun"|trans|striptags }}</option>
                <option value="07">07 - {{ "month.jul"|trans|striptags }}</option>
                <option value="08">08 - {{ "month.aug"|trans|striptags }}</option>
                <option value="09">09 - {{ "month.sep"|trans|striptags }}</option>
                <option value="10">10 - {{ "month.oct"|trans|striptags }}</option>
                <option value="11">11 - {{ "month.nov"|trans|striptags }}</option>
                <option value="12">12 - {{ "month.dec"|trans|striptags }}</option>
            </select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-element-container">
            <label for="year">{{ "cse.year.label"|trans|striptags }}</label>
            <select class="custom-select" name="valid_thru_year" id="year" data-pay-encrypt-field>
                <option value="" disabled selected>{{ "cse.year.placeholder"|trans|striptags }}</option>
                {% for year in range(date('Y')|date('Y'), date('Y')|date('Y') + 11) %}
                    <option value="{{ year }}">{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="form-row mb-2">
    <div class="col form-element-container">
        <button id="csePlaceOrder" class="btn btn-primary" type="submit" data-loading-state="0"
                disabled="disabled">
            <span class="state-not-loading">{{ "cse.placeOrder.label"|trans|striptags }}</span>
            <span class="state-loading">
                <img src="{{ asset('bundles/paynlpaymentshopware6/spinner.gif', 'asset') }}" width="30" height="30"
                     alt="Loading"/>
            </span>
        </button>
    </div>
</div>
