{% block component_paynl_paypal_button %}
    <a href="{{ path('frontend.account.PaynlPayment.paypal.start-payment') }}" title="{{ "payment.paypalExpress.buttonTitle" | trans }}">
        <img
            src="{{ asset('bundles/paynlpaymentshopware6/logos/ideal/ecs/' ~ ('payment.paypalExpress.buttonImage' | trans)) }}"
            srcset="{{ asset('bundles/paynlpaymentshopware6/logos/ideal/ecs/' ~ ('payment.paypalExpress.buttonImage' | trans)) }}, {{ asset('bundles/paynlpaymentshopware6/logos/ideal/ecs/' ~ ('payment.paypalExpress.buttonImage2x' | trans)) }} 2x"
            title="{{ "payment.paypalExpress.buttonTitle" | trans }}"
            alt="PayPal Express Checkout Button"
        >
    </a>
{% endblock %}
