{% block component_paynl_kvk_coc_number %}
    {% set configs = page.footer.extensions.PAY_custom_data.configs %}

    {% if (configs.core.loginRegistration.showAccountTypeSelection) %}
        {% set isCoCNumberRequired = configs.PaynlPaymentShopware6.settings.cocNumberRequired %}
        <div class="form-group col-12 paynl-kvk-coc-number-field"
            {% if (data.get('accountType') == 'business') %}
                style="display: block"
            {% else %}
                style="display: none"
            {% endif %}
        >
            {% if formViolations.getViolations("/cocNumber") is not empty %}
                {% set violationPath = "/cocNumber" %}
            {% elseif formViolations.getViolations("/cocNumber") is not empty %}
                {% set violationPath = "/cocNumber" %}
            {% endif %}
            {% block component_paynl_kvk_coc_number_label %}
                <label class="form-label"
                       for="coc_number">
                    {{ "coc.label"|trans|sw_sanitize }}{{ isCoCNumberRequired ? '*' : '' }}
                </label>
            {% endblock %}
            {% block component_paynl_kvk_coc_number_input %}
                <input type="text"
                       class="form-control{% if violationPath %} is-invalid{% endif %}"
                       placeholder="{{ "coc.placeholder"|trans|striptags }}"
                       name="coc_number"
                    {{ isCoCNumberRequired ? 'required="required"' : '' }}
                       value="{{ data.get('coc_number') }}">
            {% endblock %}

            {% block component_paynl_kvk_coc_number_input_error %}
                {% if violationPath %}
                    {% sw_include '@Storefront/storefront/utilities/form-violation.html.twig' %}
                {% endif %}
            {% endblock %}
        </div>
    {% endif %}
{% endblock %}
