{% sw_extends '@Storefront/storefront/component/account/register.html.twig' %}
{% block component_account_register %}
    <div class="card register-card">
        <div class="card-body">
            {% block component_account_register_header %}
                {{ parent() }}
            {% endblock %}

            {% block component_account_register_form %}

                <form action="{{ path('frontend.account.register.save') }}"
                      class="register-form"
                      method="post"
                      data-form-csrf-handler="true"
                      data-form-validation="true">

                    {% block component_account_register_form_csrf %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_account_register_redirect %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_account_register_form_action %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_account_register_personal %}
                        <div class="register-personal">
                            {% block component_account_register_personal_fields %}
                                {% block component_account_register_personal_address_fields %}
                                    {{ parent() }}
                                {% endblock %}

                                {% block component_account_register_company_fields %}
                                    {% sw_include '@Storefront/storefront/component/address/address-personal-company.html.twig' with {
                                        'prefix': 'billingAddress',
                                        'address': data.get('billingAddress')
                                    } %}
                                {% endblock %}

                                {% set formGroupMail %}
                                    {% block component_account_register_personal_mail %}
                                        {{ parent() }}
                                    {% endblock %}
                                {% endset %}

                                {% set formGroupMailConfirmation %}
                                    {% block component_account_register_personal_mail_confirmation %}
                                        {{ parent() }}
                                    {% endblock %}
                                {% endset %}

                                {% set formGroupPassword %}
                                    {% block component_account_register_personal_password %}
                                        {{ parent() }}
                                    {% endblock %}
                                {% endset %}

                                {% set formGroupPasswordConfirmation %}
                                    {% block component_account_register_personal_password_confirmation %}
                                        {{ parent() }}
                                    {% endblock %}
                                {% endset %}

                                {% block component_account_register_personal_account_fields %}
                                    {{ parent() }}
                                {% endblock %}
                            {% endblock %}
                        </div>
                    {% endblock %}

                    {% block component_account_register_address %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_account_register_captcha %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_account_register_privacy %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_account_register_required_fields %}
                        {{ parent() }}
                    {% endblock %}

                    {% block component_account_register_submit %}
                        {{ parent() }}
                    {% endblock %}
                </form>
            {% endblock %}
        </div>
    </div>
{% endblock %}
