{% sw_extends '@Storefront/storefront/component/payment/payment-fields.html.twig' %}

{% block component_payment_method_description %}
    {% if (payment.handlerIdentifier == "PaynlPayment\\Shopware6\\Service\\PaynlPaymentHandler") %}
        <div class="payment-method-description">
            <strong>{{ payment.translated.name }}</strong>
            {% if payment.translated.description %}
                <p class="{{ page.showDescription }}">{{ payment.translated.description|raw }}</p>
            {% endif %}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}

{% endblock %}

{% block component_payment_fieldset_template %}
    {% block pay_component_payment_extra %}
        {% if (payment.handlerIdentifier == "PaynlPayment\\Shopware6\\Service\\PaynlPaymentHandler") %}
            <div class="paynl-payment-method-extra {% if payment.id is same as(defaultPaymentMethodId) %} active{% endif %}">
                {% if payment.translated.customFields.displayBanks %}
                    {% if payment.translated.customFields.banks is not empty %}
                        <div class="form-group">
                            <select id="paynl-ideal-banks-select" class="form-control" name="paynlIssuer">
                                <option value="">{{ "payment.selectIssuer"|trans|sw_sanitize }}</option>
                                {% for bank in payment.translated.customFields.banks %}
                                    <option value="{{ bank.id }}" {% if app.session.get('paynlIssuer') is defined and bank.id is same as(app.session.get('paynlIssuer'))%} selected {% endif %}>{{ bank.visibleName }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    {% endif %}
                {% endif %}

                {% if payment.translated.customFields.isPayLater %}
                    {% if not page.isBirthdayExists %}
                        <div class="form-group">
                            <label class="form-label"
                                   for="dob">{{ "checkout.labels.dob"|trans|striptags }}</label>
                            <input type="text"
                                   id="paynl-dob-{{ loop.index }}"
                                   data-date-picker="true"
                                   data-enable-time="false"
                                   data-alt-format="Y-m-d"
                                   class="form-control paynl-dob"
                                   placeholder="{{ "checkout.labels.dob"|trans|striptags }}"
                                   name="dob[{{ payment.id }}]"
                                   data-min-date="1900-01-01"
                                   data-max-date="today" />
                        </div>
                    {% endif %}
                    {% if not page.isPhoneNumberExists %}
                        <div class="form-group">
                            <label class="form-label"
                                   for="phone">{{ "checkout.labels.phone"|trans|striptags }}</label>
                            <input type="tel"
                                   id="paynl-phone-{{ loop.index }}"
                                   class="form-control paynl-phone"
                                   placeholder="{{ "checkout.labels.phone"|trans|striptags }}"
                                   name="phone[{{ payment.id }}]"
                                   value="" />
                        </div>
                    {% endif %}
                {% endif %}
                {% if page.paymentMethods|length > 1 %}
                    <div class="form-group">
                        <button class="btn btn-primary paynl-change-payment-method"
                                type="submit">
                            {% if activeRoute == "frontend.checkout.confirm.page" or activeRoute == "frontend.account.edit-order.page" %}
                                {{ "checkout.confirmChangePaymentShippingSave"|trans|sw_sanitize }}
                            {% else %}
                                {{ "account.paymentChangeSubmit"|trans|sw_sanitize }}
                            {% endif %}
                        </button>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endblock %}

    <template paynl-payment-plugin></template>
{% endblock %}
