{% sw_extends '@Storefront/storefront/component/payment/payment-fields.html.twig' %}

{% block component_payment_methods %}
    <div class="payment-methods">
        {% for payment in page.paymentMethods %}
            {% block component_payment_method %}
                <div class="payment-method">
                    {% block component_payment_method_field %}
                        <div class="payment-form-group form-group">
                            {% block component_payment_method_control %}
                                <div class="custom-control custom-radio payment-control">
                                    {% block component_payment_method_input %}
                                        {% if (payment.handlerIdentifier == "PaynlPayment\\Shopware6\\Service\\PaynlPaymentHandler") %}
                                    <div class="paynl-payment-method-block d-flex align-content-between">
                                            <input type="radio"
                                                   id="paymentMethod{{ loop.index }}"
                                                   name="paymentMethodId"
                                                   value="{{ payment.id }}"
                                                   data-paynl-modal-btns-id="paynl-modal-buttons-{{ loop.index }}"
                                                   {% if payment.id is same as(defaultPaymentMethodId) %}checked="checked"{% endif %}
                                                   class="custom-control-input paynl-payment-method-input payment-method-input">
                                        {% else %}
                                            {{ parent() }}
                                        {% endif %}
                                    {% endblock %}

                                    {% block component_payment_method_label %}
                                        {% if (payment.handlerIdentifier == "PaynlPayment\\Shopware6\\Service\\PaynlPaymentHandler") %}
                                        <label class="custom-control-label paynl-payment-method-label payment-method-label"
                                                       for="paymentMethod{{ loop.index }}">
                                                    {% block component_payment_method_image %}
                                                        {% if (payment.handlerIdentifier == "PaynlPayment\\Shopware6\\Service\\PaynlPaymentHandler") %}
                                                            {% if payment.media %}
                                                                {% sw_thumbnails 'payment-method-image-thumbnails' with {
                                                                media: payment.media,
                                                                sizes: {
                                                                'default': '100px'
                                                                },
                                                                attributes: {
                                                                'class': 'payment-method-image paynl-payment-method-image',
                                                                'alt': (payment.media.translated.alt ?: payment.translated.name),
                                                                'title': (payment.media.translated.title ?: payment.translated.name)
                                                                }
                                                                } %}
                                                            {% endif %}
                                                        {% else %}
                                                            {{ parent() }}
                                                        {% endif %}
                                                    {% endblock %}
                                                </label>
                                                {% block component_payment_method_description %}
                                                    {% if (payment.handlerIdentifier == "PaynlPayment\\Shopware6\\Service\\PaynlPaymentHandler") %}
                                                        <div class="paynl-payment-method-description payment-method-description">
                                                            <strong>{{ payment.translated.name }}</strong>
                                                        </div>
                                                        {% if payment.translated.customFields.displayBanks %}
                                                            {% if payment.translated.customFields.banks is not empty %}
                                                                <div id="paynl-banks" class="paynl-payment-method-banks" {% if payment.id is same as(defaultPaymentMethodId) %}
                                                                    style="display: inline-block"
                                                                {% else %}
                                                                    style="display: none"
                                                                {% endif %}>
                                                                    <select id="paynl-ideal-banks-select" class="custom-control custom-select" name="paynlIssuer">
                                                                        <option value="">{{ "payment.selectIssuer"|trans|sw_sanitize }}</option>
                                                                        {% for bank in payment.translated.customFields.banks %}
                                                                            <option value="{{ bank.id }}" {% if app.session.get('paynlIssuer') is defined and bank.id is same as(app.session.get('paynlIssuer'))%} selected {% endif %}>{{ bank.visibleName }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
                                                            {% endif %}
                                                        {% endif %}

                                                        {% if payment.translated.customFields.isPayLater %}
                                                            <div class="paynl-paylater-fields align-content-center"
                                                                {% if payment.id is same as(defaultPaymentMethodId) %}
                                                                    style="display: inline-block"
                                                                {% else %}
                                                                    style="display: none"
                                                                {% endif %}
                                                            >
                                                                {% if not page.isBirthdayExists %}
                                                                    <div class="paynl-paylater-input-block mb-1">
                                                                        <label class="form-label"
                                                                           for="dob">{{ "checkout.labels.dob"|trans|striptags }}</label>
                                                                        <input type="text"
                                                                               data-date-picker="true"
                                                                               data-enable-time="false"
                                                                               data-alt-format="Y-m-d"
                                                                               class="form-control paynl-dob"
                                                                               placeholder="{{ "checkout.labels.dob"|trans|striptags }}"
                                                                               name="dob[{{ payment.id }}]"
                                                                               data-min-date="1900-01-01"
                                                                               data-max-date="today">
                                                                    </div>
                                                                {% endif %}
                                                                {% if not page.isPhoneNumberExists %}
                                                                    <div class="paynl-paylater-input-block">
                                                                        <label class="form-label"
                                                                               for="phone">{{ "checkout.labels.phone"|trans|striptags }}</label>
                                                                        <input type="tel"
                                                                               class="form-control paynl-phone"
                                                                               placeholder="{{ "checkout.labels.phone"|trans|striptags }}"
                                                                               name="phone[{{ payment.id }}]"
                                                                               value="">
                                                                    </div>
                                                                {% endif %}
                                                            </div>
                                                        {% endif %}
                                                        <div
                                                                id="paynl-modal-buttons-{{ loop.index }}"
                                                                class="paynl-modal-buttons ml-auto"
                                                                {% if payment.id is same as(defaultPaymentMethodId) %}
                                                            style="display: inline-block"
                                                        {% else %}
                                                            style="display: none"
                                                                {% endif %}>
                                                            <button class="btn btn-primary paynl-change-payment-method" data-paynl-payment-method-input-id="paymentMethod{{ loop.index }}" type="submit">
                                                                {% if activeRoute == "frontend.checkout.confirm.page" or activeRoute == "frontend.account.edit-order.page" %}
                                                                    {{ "checkout.confirmChangePaymentShippingSave"|trans|sw_sanitize }}
                                                                {% else %}
                                                                    {{ "account.paymentChangeSubmit"|trans|sw_sanitize }}
                                                                {% endif %}
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <p class="paynl-payment-method-text">{{ payment.translated.description|raw }}</p>
                                                {% else %}
                                                    {{ parent() }}
                                                {% endif %}
                                            {% endblock %}
                                        {% else %}
                                            {{ parent() }}
                                        {% endif %}
                                    {% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            {% endblock %}
        {% endfor %}
    </div>

    <template paynl-payment-plugin></template>
{% endblock %}
