{% sw_extends '@Storefront/storefront/component/payment/payment-fields.html.twig' %}

    {% block component_payment_method_input %}
        {% set pmName = payment.translated.name %}
        <input type="radio" id="paymentMethod{{ loop.index }}" name="paymentMethodId" value="{{ payment.id }}"

               {% if payment.id is same as(defaultPaymentMethodId) %}checked="checked"{% endif %}

               class="custom-control-input payment-method-input"

               onclick="idealBanks('none'); showhide(pmName);">

        <div id="{{ payment.translated.action_name }}" class="button-trick-ideal">

            <div id="buttonPmiDeal" class="saveOption">

                <button class="btn btn-primary" type="submit">

                    {{ "checkout.confirmChangePaymentShippingSave"|trans|sw_sanitize }}

                </button>

                <button class="btn btn-light"

                        type="button"

                        data-dismiss="modal"

                        aria-label="Close">

                    {{ "checkout.confirmChangePaymentShippingCancel"|trans|sw_sanitize }}

                </button>

            </div>

        </div>


    {% endblock %}

    {% block component_payment_method_description %}
        <div class="payment-method-description">
            {% set pmName = payment.translated.name %}
            {% if (pmName == 'iDEAL' and not payment.media) %}
                <img src="https://cashmaster.sharepoint.com/sites/TESTING123/Gedeelde%20documenten/General/IMAGES/Betaalopties/LOGO/1.png"
                     class="payment-method-image">
            {% endif %}

            <strong>{{ payment.translated.name }}</strong>
            {% if payment.translated.description %}
                <p>{{ payment.translated.description|raw }}</p>
            {% endif %}
            {% if (pmName == 'iDEAL') %}
                    <div class="ideal-banks">
                        <label for="optionsub" id="pmLabel">Please choose your bank:</label>
                        <select id="optionsub" class="form-control" name="banklist">
                            <option value="1">ABN Amro</option>
                            <option value="8">ASN Bank</option>
                            <option value="5080">Bunq</option>
                            <option value="4">ING</option>
                            <option value="12">Knab</option>
                            <option value="5081">Moneyou</option>
                            <option value="2">Rabobank</option>
                            <option value="9">RegioBank</option>
                            <option value="5">SNS</option>
                            <option value="5082">Svenska Handelsbanken</option>
                            <option value="10">Triodos Bank</option>
                            <option value="11">Van Lanschot</option>
                        </select>
                    </div>
            {% endif %}
        </div>
    {% endblock %}

